@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(89deg, #070D44 0%, #653B99 100%);
    font-family: 'Basic', sans-serif;
    color: white;
    width: 100%;
}
.container{
    overflow: hidden;
}
a{
    text-decoration: none;
    color: white;
}
ul{
    color: black;
}
ul li{
    list-style: none;
    text-decoration: none;
    color: black;
}

/* ==================navbar==================== */
.header-text{
    color: transparent;
    font-weight: lighter;
    -webkit-text-stroke: 1px #fff;
    font-size: 4rem;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
header{
    border-bottom: 1px solid black;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 4.6rem;
    background: rgba(189, 189, 189, 0.10);
    position:fixed;
    top: 0;
    z-index: 2;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0px 0px 8px black;
}
.logo{
    background: url(./img/G-removebg-preview.png) no-repeat center center;
    background-size: cover;
    height: 6rem;
    width: 6rem;
    scale: 1.3;
    margin-left: 10px;
    opacity: 0;
    animation: slidright 0.8s ease-in-out forwards;
}
.logo:hover{
    filter: drop-shadow(1px 1px 8px black);
}
ul li{
    list-style: none;
}
ul a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 300;
    transition: 0.2s ease-in-out;
    opacity: 0;
    animation: slidtop 0.8s ease-in-out forwards;
}
ul{
    display: flex;
    align-items: center;
    justify-content:space-around;
    gap: 45px;
}
.list{
    margin-right: 50px;
}
.list i{
    display: none;
    width:40px;
}
.list ul li{
    transition: all 0.2s ease-in-out;
}
.list ul li:hover{
    transform: scale(1.2);
}
ul a:hover{
    cursor: pointer;
    color: #070D44;
    text-shadow: 1px 1px 5px rgba(7, 13, 68,0.5);
}
ul a:active{
    color: white;
}

/* ==================HOME==================== */

.intro{
    gap: 90px;
    font-size: 1rem;
    margin-top: 90px;
    font-size: 1rem;
    padding-bottom: 80px;
    padding: 20px;
}
.intro-img img{
    height: 470px;
    width: 470px;
    animation: float 2s ease-in-out 0.2s infinite forwards;
    /* animation: slidright 0.8s ease-in-out 0.3s; */
}
.intro-img img:hover{
    filter: drop-shadow(2px 2px 9px black);
}
.intro-text{
    width: 90vh;
}
.intro-text h1{
    font-size: 5rem;
    background-image: linear-gradient(90deg,rgba(46, 106, 224, 1),rgba(172, 161, 205, 1));
    background-clip: text;
    -webkit-background-clip: text;
    color:transparent;
    animation: slidleft 0.8s ease-in-out 0.3s;
}
.textt{
    font-size: 1.3rem;
}
.intro-text pre{
    font-size: 1.2rem;
    /* font-family: monospace; */
}
.intro-line{
    animation: slidbottom 0.8s ease-in-out 0.3s;
}
.intro-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

/* ==================ABOUT==================== */

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}
.about-section{
    background: url(./img/about-earth.png) no-repeat center center; 
    background-size: cover;
    height: 30.7rem;
    width: 72rem;
    margin: 70px;
    gap: 50px;
}
.about-text{
    background-color: #DDD2EF;
    height: 21.563rem;
    width: 45rem;
    border-radius: 40px;
    /* text-align: center; */
    color: black;
    font-size: 1.15em;
}
.btn{
    width: 250px;
    border-radius: 30px;
    background: #DDD2EF;
    padding: 10px;
    margin: 25px;
    text-align: center;
    color: black;
    font-size: 1.2rem;
    margin-right: 0px;
    margin-left: 0px;
}
.btn p:hover{
    color: rgba(0, 0, 0,0.4);
    cursor: pointer;
}
.btn p:active{
    color: #653B99;
}

/* ==================SKILLS==================== */

.skills-section{
    transition: all 1s ease-in-out;
}
.skills-section h1{
    color: transparent;
    font-weight: lighter;
    font-size: 4rem;
    -webkit-text-stroke: 1px #fff;
    text-align: center;
    margin-top: 40px;
}
.img-txt img:hover{
    filter: drop-shadow(5px 5px 20px black);
}
.first-row{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 9.375rem;
    height:auto;
    margin-left: -300px;
    margin-bottom: -40px;
}
.second-row{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 4rem;
    height:auto;
    margin-left: 135px;
}
.header-skills{
    display: flex;
    justify-content: center;
    align-items: center;
}
.skills-section img:hover{
    transform: scale(1.1);
}

/* ==================PROJECTS==================== */

.projects{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: auto;
    overflow: auto;
    padding: 20px;
    filter: drop-shadow(5px 5px 20px black);
}
.projects h1{
    text-align: center;
    margin-top: 40px;
    font-size: 4rem;
    margin-bottom: 30px;
}
.box{
    background-size: cover;
    height: 300px;
    width: 450px;
    margin: 20px;
    border-radius: 20px;
    align-items: center;
    background-color: #999;
    background-blend-mode: hard-light;
    transition: all 1s ease-in-out;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: block;
    position: relative;
}
.box:hover{
    cursor: pointer;
}
.img-overlay{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0,0.8);
    color: white;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
}
.img-overlay > *{
    transform: translateY(20px);
    transition: transform 0.5s;
}
.img-overlay:hover{
    opacity: 1;
}
.img-overlay:hover >*{
    transform: translateY(0);
}
.btns{
    gap: 20px;
    margin: 20px;
}
.btns i{
    margin-left: 5px;
}
.btns a{
    background-color: white;
    color: #653B99;
}
.btns a:active{
    background-color: #653B99;
    color: white;
}
.btns button{
    padding: 9px 17px;
    border-radius: 10px;
    font-family: 'Basic', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    border: none;
    outline: none;
    color: #653B99;
    background-color: #fff;
}
.btns button:hover{
    cursor: pointer;
    color: #fff;
    background-color: #653B99;
}
.btns button:active{
    color: white;
    background-color: #653B99;
}
.box h5{
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
}
.box pre{
    font-weight: 500;
    font-size: 0.8rem;
}
.row-2{
    margin-bottom: 30px;
}

/* ==================CONTACT==================== */

.connect{
    flex-direction: column;
    gap: 30px;
    height: 600px;
    border-bottom: 1px solid black;
}
.connect h1{
    margin-top: 30px;
    font-weight: 400;
    font-size: 6rem;
    font-family: 'Limelight', cursive;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    transition: all 0.2s ease-in-out;
}
.icon i:hover{
    cursor: pointer;
    transform:scale(1.1);
    filter: drop-shadow(1px 1px 8px black);
}

.one{
    animation: float 2s ease-in-out 0.4s infinite forwards;
}
.two{
    animation: float 2s ease-in-out 0.8s infinite forwards;
}
.three{
    animation: float 2s ease-in-out 1.2s infinite forwards;
}
.four{
    animation: float 2s ease-in-out 1.8s infinite forwards;
}


.img-text{
    display: block;
    position: relative;
}
.text{
    position:relative;
    bottom: 230px;
    right:0px;
    left: 110px;
    color: black;
    font-size: 1.7rem;
    font-family: monospace;
}
.text:hover{
    cursor: pointer;
}
.text h3{
    margin-bottom: 10px;
}
.tools{
    bottom: 200px;
    left:100px ;
}
.webd{
    bottom: 300px;
}
.git{
    left: 140px;
    bottom: 220px;
}
.btns a{
    background-color: white;
    color: #653B99;
}
.btns a:active{
    background-color: #653B99;
    color: white;
}
.btns a:hover{
    cursor: pointer;
    color: #fff;
    background-color: #653B99;
}

/*  ================ key frmaes ================== */

@keyframes slidright {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    } 
    100%{
        transform: translateX(0px);
        opacity: 1;
    }    
}
@keyframes slidleft {
    0%{
        transform: translateX(100px);
        opacity: 0;
    } 
    100%{
        transform: translateX(0px);
        opacity: 1;
    }    
}
@keyframes slidtop {
    0%{
        transform: translateY(100px);
        opacity: 0;
    } 
    100%{
        transform: translateY(0px);
        opacity: 1;
    }    
}
@keyframes slidbottom {
    0%{
        transform: translateY(-100px);
        opacity: 0;
    } 
    100%{
        transform: translateY(0px);
        opacity: 1;
    }    
}
@keyframes float {
    0%{
        transform: translateY(0px);
    }
    25%{
        transform: translateY(10px);
    }
    75%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
}